<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<servlet>
	  <servlet-name>userNameServlet</servlet-name>
	  <servlet-class>com.hr.servlet.UserNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>userNameServlet</servlet-name>
	  <url-pattern>/userNameServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>addToCartServlet</servlet-name>
	  <servlet-class>com.hr.servlet.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>addToCartServlet</servlet-name>
	  <url-pattern>/addToCart</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
